@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root{
    --bg: #006e89;
    --bg-dark: #00556a;
    --bg2: #fff;
}

*{
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    padding: 0;
}

body{
    background: var(--bg);
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container{
    max-width: 620px;
    margin: 70px auto;
    border: 1px solid black;
    padding: 20px;
    background-color: var(--bg2);
    border-radius: 9px;
}

.imc-valor,
.resultado {
    display: inline-block;
    width: 45%; /* Adjust the width as needed */
    vertical-align: top;
}

.imc-valor h2,
.resultado h2 {
    margin-bottom: 10px;
}

.imc-valor p,
.resultado p {
    margin-top: 20px;
}

.form {
    clear: both;
    margin-top: 20px;
}

form input, form label, form button{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input{
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus{
    outline: 1px solid var(--bg);
}

form button{
    border: none;
    background: var(--bg);
    color: var(--bg2);
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}
form button:hover{
    background: var(--bg-dark);
}

.resultadoImc{
    background: var(--bg2);
    text-align: center;
}
